.board {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    
}

$size: 3em;

.square {
    display: block;
    height: $size;
    width: $size;
    text-indent: -99999px;
}

.narrow {
    height: $size / 4;
}

.short {
    width: $size / 4;
}

.nothing {
    background: white;
}

.emptyWall {
    background: lightgray;
}

.wall {
    background: black;
}

.empty {
    background: #4a4559;
}

.validmove {
    background: pink !important;
}

$players: ("1": #f52e2e, "2": #5463ff, "3": #ffc717, "4": #1f9e40);

@each $id, $colour in $players {
    $pulseColour: darken($colour, 50%);
    .player#{$id} {
	background: $colour;

	&.active {
	    animation: pulse#{$id} 2s infinite;
	}	
    }

    @keyframes pulse#{$id} {
	0% {
	    box-shadow: inset 0 0 0 0 rgba($pulseColour, 1);
	}
	70% {
	    box-shadow: inset 0 0 0 10px rgba($pulseColour, 0);
	}
	100% {
	    box-shadow: inset 0 0 0 0 rgba($pulseColour, 0);
	}
    }    
}
